langchain
langchain-community
chromadb
sentence-transformers
ollama
streamlit
ragas
requests
pandas
rank-bm25
scikit-learn
scipy
transformers
torch
numpy
langchain-ollama
langchain-chroma
langchain-huggingface
accelerate
tqdm
datasets
evaluate